
@{
    ViewBag.Title = "Hakkimda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
<br />
<div class="col-md-8">
    <h2>Hakkimda</h2>
</div>
</br>

<div type="book" n="I">
    <head>
       
    </head>
    <div>
        <head>
            Merhaba
        </head>
        <list>
            <item>
                <!-- chapter head -->
            </item>
            <!-- further chapter heads omitted -->
        </list>
    </div>
    <div>
        <head>
           İsmim Salih Buhari Baş, Sakarya üniversitesi 4.sınıf öğrencisiyim, 1995 doğumluyum, part time EDM producer'lık yapmaktayım
        </head>
        <p>Doğum Yerim: Maltepe</p>
        <p>
            Memleketim ise Denizli, Yatağan idir, orada neslimiz 4-5 Nesil öncesine gitmekte, Yatağan Serinhisar ilçesine bağlı, daha önce köy sınıfında iken şimdi 
            Serinhisar ilçesine bağlı mahalleye dönmüştür. Osmanlı zamanlarından devam eden bıçakçılık geleneği halen devam etmekte, sürekli kargolar gelip ülkenin
            dört bir yanına ticaretle meşguldür.
        </p>
        <trailer>
            Black Hole Recordings, Intricate Records ta 2017'den itibaren sürekli progressive trance türünde parçalar yapmaktayım'
           
        </trailer>
    </div>
</div>


